html,
body {
  font-family: var(--body-font);
}

main {
  width: 100%;
  padding: 2em 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  h2,
  h3,
  h4 {
    margin: 28px 0;
    color: white;
    font-family: var(--title-font);
  }

  h2 {
    font-size: 3em;
    margin: 1em;
  }
}

main.background-img {
  background: url('../../../public/assets/img/background.jpg');
}

body {
  background: linear-gradient(180deg, #140f0e 0%, #500505 50%);
}

.swal-modal {
  h2,
  h3 {
    color: black;
  }
}

button.btn {
  background-color: #be0a0a;
  border: 1px solid #be0a0a;

  &:hover {
    background-color: #c03737;
    border: 1px solid #c03737;
    transition: 0.4s;
  }
}
