@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Libre+Franklin&display=swap');

:root{

    // Fonts
    --body-font: 'Libre Franklin', sans-serif;
    --title-font: 'Edu NSW ACT Foundation', cursive;

    // Colors
    
    
}