footer.footer {
  font-size: 1.2em;
  color: white;
  background: linear-gradient(180deg, #00000000 0%, #ffffff17 100%);
  padding: 20px;
  text-align: center;

  span {
    text-shadow: 5px 5px 5px #000000
  }

  .logo-container {
    display: flex;
    gap: 2.5em;
    justify-content: center;
    align-items: center;
    p {
      margin-bottom: 0;
      font-size: 16px;
    }
  }

  ul {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    margin: 1em auto;
    list-style: none;
    li a > svg {
      font-size: 1.5em;
    }
  }

  svg:hover {
    color: #c03737;
    transform: scale(1.3);
    transition: 0.4s;
  }

  h4 {
    font-size: 12px;
    font-weight: 200;
    color: #8f8f8f;
  }
}
