.movie-detail {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 90%;
    img{
        margin: 0 auto;
        display: block;
    }
    .overview{
        margin: 2em 0;
    }
    iframe{
        width: 560px;
        height: 315px;
    }
}