@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Libre+Franklin&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

body{
    background-color: rgb(20, 15, 14);
}

main{
    width: 100%;
    padding: 2em 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: inherit;
}

h1, h2, h3, h4{
    color: white;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

main h1, main h2, main h3, main h4{
    margin: 28px 0;
}

ul{
    padding-left: 0;
}

button.btn{
    background-color: #be0a0a;
    border: 1px solid #be0a0a;
}

button.btn:hover{
    background-color: #c03737;
    border: 1px solid #c03737;
    transition: .4s;
}