// Abstracts
@use './scss/abstracts/variables';
@use './scss/abstracts/mixins';

// Base
@use './scss/base/base';
@use './scss/base/resets';

// Layout
@use './components/SearchBar/searchBar';
@use './components/Detail/detail';
@use './components/Favorites/favorites';
@use './components/Footer/footer';
@use './components/Header/header';
@use './components/MovieList/movieList';
@use './components/Results/results';